/*  
Theme Name: Postscript
Theme URI: http://www.postscriptpost.com
Description: Custom theme for Postscript based off of Notes Blog.
Author: Rachel Rippy
Author URI: http://www.rachelrippy.com
Version: 1.0

*/

/* =====
   RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove scroll-bar shift */
html { 
	overflow-y: scroll;
	height: 100%;
}



.clear {
	clear:both;
	display:block;
	font-size:1px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */




/* ======
   LAYOUT */

.right,
.alignright,
.nav-next {
	float: right;
}

.left,
.alignleft,
.nav-previous {
	float: left;
}

.column {
	width: 370px; /* One column */
}

.widecolumn {
	width: 762px; /* Two columns */
}

.fullcolumn {
	width: 1154px; /* Three columns */
}

body {
	background: #e9e9e9;
	height: 100%;
}

div#site {
	width: 100%;
	height: 100%;
}

div#outer-wrap {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

div#header {
	width: 100%;
	margin: 0;
	height: 60px;
	background-image: url(images/header_background.jpg);
	background-repeat: repeat-x;
}
	div.header-widgetarea { width: 280px; float: right; }
		ul#header-widget {}
			ul#header-widget li { margin:0; padding:0; border:0; }

div#main_content {
	margin: 0 auto;
	background: #fff;
	padding-bottom: 100px;
	position: relative;
	min-height: 100%;
}

div#top-navigation {
	width: 100%;
	float: left;
	color: #A87B4F;
}

div#top-navigation div ul li {
	margin: 0; 
	padding: 3px 0;
}

div#content {
	float: left;
	margin-top: 60px;
}

h1.entry-title {
	height: 46px;
	width: 305px;
	background-color: #333333;
	color: #fff;
	text-align: center;
	padding: 14px 0 0;
	margin: 0 0;
	position: absolute;
	top: -60px;
	left: 600px;
}
.header_divit {
	width: 26px;
	height: 13px;
	display: block;
	background-image: url(images/heading_divit.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	top: 0;
	left: 740px;
}
	div.post, div.page, div.attachment, div.hentry { margin:0; clear:both; } /* 640 pixels */
		div.format-aside-permalink { float:right; margin: 0 0 10px 20px; }
		div.read-more { text-align: right; }
	div.sticky {}
		div.sticky div.entry-meta { border-color: #333333; }
	div.navigation { width: 100%; float:left; }
	div#nav-above { margin: 20px 0 40px 0; }
		.nav-previous { padding-left: 20px; }
	div#nav-below { margin: 20px 0; }
	div#home-header { width: 100%; float: left; border-bottom: 1px dotted #e9e9e9; } /* 960 px */
		ul.header-column { width: 320px; float: left; }
			ul.header-column li { padding-top: 20px; }
		ul.header-column-left {}
			ul.header-column-left li { padding-left: 20px; padding-right: 5px; }
		ul.header-column-middle {}
			ul.header-column-middle li { padding-left: 15px; padding-right: 15px; }
		ul.header-column-right {}
			ul.header-column-right li { padding-left: 5px; padding-right: 20px; }
			li.home-widget-container { margin-bottom: 20px; }
				li.home-widget-container ul { margin:0; padding: 0; }
					li.home-widget-container ul li { margin: 10px 0 0 0; padding: 0; border: 0; }
	div#post-thumbnail { width: 100%; margin: 0 20px; padding-top: 20px; float: left; }
	div.entry-meta { margin-botom:4px; }
	ol.commentlist { margin: 20px 0; padding: 20px 20px 1px 20px; background: #ECF0ED; }
		li.comment {}
			div.comment-author {}
				div.comment-author img { float: left; margin-right: 10px; }
				div.comment-author cite { font-weight: bold; font-style: normal; }
			div.comment-meta { margin-bottom: 10px; }
			div.comment-body {}
				div.comment-body p { padding: 5px 0; }
			div.reply { margin-top: 0; padding-bottom: 10px; border-bottom: 1px solid #999; }
			li.comment ul.children { margin: 20px 0 0 20px; }
		li.depth-1 { margin-bottom: 20px; }
		li.byuser {}
		li.bypostauthor {}
		li.pingback { padding: 10px 10px 1px 10px; background:#efefef; }
			li.pingback p, li.pingback div.reply { display:none; }
	div#respond { margin: 20px 0; } 
		div#respond p { clear:both; }
		p.comment-notes, p.logged-in-as { margin-bottom: 10px; }
		p.comment-form-author, p.comment-form-email, p.comment-form-url { margin-bottom: 6px; }
			p.comment-form-author label, p.comment-form-email label, p.comment-form-url label { margin-bottom: 5px; line-height: 28px; }
		div#respond h3 { margin: 5px 0 10px 0; }
		input#author, input#email, input#url { float:left; margin-right: 8px; padding: 5px; width: 200px; }
		textarea#comment { width: 472px; padding: 10px; }
		span.required { color: #333333; }

div#sidebar-container {
	float: left;
}
	ul#sidebar { margin: 20px 20px 20px 0; } /* 260 pixels */
		ul#sidebar li.widget-container { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dotted #e9e9e9; }
			li.widget-container ul { margin:0; padding: 0; }
				li.widget-container ul li { margin: 10px 0 0 0; padding: 0; border: 0; }
		li.widget_tag_cloud {}
			li.widget_tag_cloud div { margin-top: 10px; }
		li.widget_text {}
			div.textwidget {}
				div.textwidget p { margin-top: 10px; }
		

div#footer {
	width: 100%;
	clear: both;
}
	div.footer-column-container { float: left; padding: 0 10px; }
		ul.footer-column { width: 235px; float: left; }
			ul.footer-column li { margin: 0 10px 10px 10px; padding:0; background: #e9e9e9; } /* 215-20=195 px */
			ul.footer-column li.widget-container {}
				ul.footer-column li.widget-container h2.widget-title { padding: 10px 10px 0 10px; }
				ul.footer-column li.widget-container div { padding: 10px; }
					ul.footer-column li.widget-container div.textwidget, ul.footer-column li.widget_tag_cloud div { padding-top: 0; }
				ul.footer-column li.widget-container ul { padding: 0 10px 10px 10px; }
					ul.footer-column li.widget-container ul li { float: none; }

div#copy {
	width: 100%;
	height: 65px;
	margin: -65px 0 0;
	position: relative;
	overflow: hidden;
}
#footer_info {
	text-align: center;
	width: 100%;
	margin-top: 40px;
	clear: both;
}
#footer_info a {
	text-decoration: underline;
	color: #888;
}

	div#copy div.left p { padding: 10px 0 10px 20px; }
	div#copy div.right p { padding: 10px 20px 10px 0; }

div#finalword {
	width: 100%;
	float:left;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

	
	
	

/* ==========
   TYPOGRAPHY */
   
@font-face {
    font-family: "House Slant";
    src: url('fonts/HouseSlant.eot');
    src: url("fonts/HouseSlant.eot?#iefix") format("embedded-opentype"),
         url("fonts/HouseSlant.woff") format("woff"),
		 url("fonts/HouseSlant.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}   
@font-face {
    font-family: 'citizen_slabregular';
    src: url('fonts/citizen_slab-webfont.eot');
    src: url('fonts/citizen_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/citizen_slab-webfont.woff') format('woff'),
         url('fonts/citizen_slab-webfont.ttf') format('truetype'),
         url('fonts/citizen_slab-webfont.svg#citizen_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'melbournebold';
    src: url('fonts/melbourne_bold-webfont.eot');
    src: url('fonts/melbourne_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/melbourne_bold-webfont.woff') format('woff'),
         url('fonts/melbourne_bold-webfont.ttf') format('truetype'),
         url('fonts/melbourne_bold-webfont.svg#melbournebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lavanderia_sturdysturdy';
    src: url('fonts/lavanderia_sturdy-webfont.eot');
    src: url('fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}


body, 
div#respond h3, h3#comments-title, input, textarea {
	font-family: Helvetica, Arial, sans-serif;
}

h1.entry-title {
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	font-size: 24px;
	letter-spacing: 0.13em;
}

h1.series-title {
	color: #333333;
	font-family: "lavanderia_sturdysturdy", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 35px;
	text-align: center;
	margin-bottom: 12px;
}

.single-wpsc-product h1.series-title {
	margin-bottom: 0;
	line-height: 1.1em;
}

.default_product_display h2.prodtitle, #content .default_product_display h2.prodtitle,
.single-wpsc-product h3.series-title, #content .single-wpsc-product h3.series-title {
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	font-size: 20px;
	color: #333333;
	letter-spacing: 0.1em;
	text-align: center;
}
.single-wpsc-product h2.prodtitle, #content .single-wpsc-product h2.prodtitle, h2.entry-title,
.default_product_display .imagecol h2.prodtitle, #content .default_product_display .imagecol h2.prodtitle {
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
    font-weight: normal;
	font-size: 28px;
	color: #333333;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0 10px;
}

h3, h4, h5, h6,
.entry-meta, #sidebar, div#top-navigation,
div#copy {
	font-family: Helvetica, Arial, sans-serif;
}

.entry-content p, .entry-summary p {
	color: #333333;
	font-size: 12px;
	line-height: 140%;
	margin-bottom: 8px;
}

.entry-title {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 16px;
	font-weight: normal;
}

.page-title {
	margin: 40px 0 20px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 24px;
	line-height: 24px;
	color: #666;
	font-style: italic;
	font-weight: normal;
}
	.page-title span { font-weight: bold; font-style: normal; color: #333333; }

.entry-content h2 {
	margin: 32px 0 16px 0;
	font-size: 24px;
	color: #333333;
	font-weight: normal;
}

.entry-content h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
}

.entry-content h4 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 24px 0 8px 0;
}

.entry-content ol, .entry-content ul {
	margin: 0 20px 16px 20px;
	padding-left: 25px;
	color: #666;
}

.entry-content ol { list-style: decimal; }
.entry-content ul { list-style: square; }
.entry-content ol li, .entry-content ul li { margin-bottom: 8px; }

blockquote {
	color: #666;
	font-style: italic;
}
	blockquote p { color: #666 !important; }

h3#comments-title {
	font-size: 24px;
}

h3#comments-title, div#respond h3 {
	font-weight: normal;
	color: #333333;
}

#sidebar, .entry-meta, div.format-aside-permalink,
div.read-more,
div#copy, div#finalword,
div.comment-author, div.comment-meta, div#respond p {
	font-size: 12px;
	color: #888;
}

div.comment-body p, ul.footer-column {
	font-size: 14px;
	line-height: 125%;
}

.widget-title, div#top-navigation, div.reply {
	font-size: 12px;
	text-transform: uppercase;
	color: #333;
}

#site-header {
	font-size: 56px;
	font-weight: normal;
	margin: 24px 0 8px;
}





/* =====
   LINKS */

.entry-content a:link, 
ul#sidebar a:link, 
#footer a:link, 
div#home-header a:link,
.entry-content a:active, 
ul#sidebar a:active, 
#footer a:active, 
div#home-header a:active,
.entry-content a:visited,
ul#sidebar a:visited, 
#footer a:visited, 
div#home-header a:visited,
.navigation a,
ol.commentlist a, div#respond a,
div.read-more a {
	color: #333333;
}
	.entry-content a:hover,
	.navigation a:hover,
	ul#sidebar a:hover,
	ol.commentlist a:hover,
	div#respond a:hover,
	#footer a:hover,
	div#home-header a:hover,
	div.read-more a:hover {
		color: #333333;
		text-decoration: none;
	}
		div.read-more a { text-decoration: none; }
			div.read-more a:hover { text-decoration: underline; }

.entry-meta a, li.pingback a{
	color: #333;
	text-decoration: none;
}
	.entry-meta a:hover, li.pingback a:hover,
	div#copy a:hover, div#finalword a:hover {
		color: #333333;
		text-decoration: underline;
	}

h1 a, h2 a, #site-header a, div.header-widgetarea a {
	color: #333333;
	text-decoration: none;
}
	h1 a:hover, h2 a:hover, #site-header a:hover, div.header-widgetarea a:hover { color: #A87B4F; }

div#top-navigation div ul li a, .cart_quantity, .twitter_follow a {
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	font-size: 20px;
	color: #333333;
	text-decoration: none;
	padding: 4px 4px 4px 18px;
	letter-spacing: 0.1em;
}
div#top-navigation ul.sub-menu li a {
	font-size: 15px;
	letter-spacing: 0.13em;
}
div#top-navigation ul.sub-menu {
	position: absolute;
	top: 188px;
	left: 130px;
	z-index: 20;
}
div#top-navigation div ul li a:hover, div#top-navigation div ul li a:active {
	color: #A87B4F;
}
div#top-navigation div ul li.cart_btn {
	/* preload button hover */
	background: url(images/cart_icon_roll.png) no-repeat -9999px;
}
div#top-navigation div ul li.cart_btn a {
	background-image: url(images/cart_icon.png);
	background-position: center left;
	background-repeat: no-repeat;
	margin-left: 18px;
	padding-left: 30px;
}
div#top-navigation div ul li.cart_btn a:hover {
	background-image: url(images/cart_icon_roll.png);
}



/* =================
   ELEMENTS & DESIGN */

p.right { text-align:right; }
p.center { text-align:center; }
p.admin { color: #aaa; font-size: 12px; }
p.nocomments { padding: 0 20px; font-style: italic; color: #777; }

div#content embed, .embedded { text-align:center; margin: 0 0 14px 0; padding-left:0; border:0; } /* for movies */

blockquote { margin: 0 0 16px 20px; padding: 0 20px; border: 1px solid #e9e9e9; border-width: 0 0 0 1px; }
	blockquote.pullquote { width: 220px; padding: 5px 0; border: 0; font-size: 18px; line-height: 150%; }
		blockquote.pullquote p { margin-bottom: 0; }
ol.commentlist li blockquote { border: 0; padding:0; }

/* Images and aligns */
.alignleft, blockquote.alignleft { margin: 0 20px 20px 0; }
.alignright, blockquote.alignright { margin: 0 0 20px 20px; }
img.aligncenter, .aligncenter { margin: 0 auto 16px auto; text-align:center; }
.frame { padding: 1px; border: 1px solid #e9e9e9; }
.wp-caption { padding: 20px 18px; border: 1px solid #e9e9e9; color: #888; font-style: italic; text-align:center; }
p.wp-caption-text { margin: 10px 0 0 0 !important; padding:0; font-size: 12px; line-height: 14px !important; }

div.gallery { margin-bottom: 14px; }
	dl.gallery-item {}
		dt.gallery-icon {}
			img.attachment-thumbnail { border:0; }
		dd.gallery-caption { margin-top: 8px; font-size: 12px; color: #777; font-style: italic; }

/* Quick color fixes */
div.postmeta { color: #777; }
span.alert { color: red; }
div#content strong { color: #333333; }




/* ============
   POST FORMATS */

.format-aside { margin-left: 25px; margin-right: 25px; padding: 0 10px 0 20px; border-left: 1px solid #efefef; }
	.format-aside h2.entry-title { margin-bottom: 6px; font-size: 16px; line-height: 16px; }
	.format-aside div.entry-meta { display:none; }
	.format-aside div.entry-content {}
		.format-aside div.entry-content p { color: #666; font-size: 14px; margin-bottom: 14px; }




/* ==============
   PLUGIN SUPPORT */

div#disqus_thread {
	margin: 20px 0 20px 20px;
	padding: 20px 20px 1px 20px;
	background: #e9e9e9;
}
	div#dsq-global-toolbar { margin-top:0 !important; }
	div#disqus_thread a { color: #333333; }
		div#disqus_thread a:hover { color: #333333; text-decoration: underline; }
	div#dsq-global-toolbar { margin-top: 0; }
	a.dsq-brlink { display: none; }
	div.dsq-item-trackback { margin: 0 0 10px 0 !important; padding: 0 !important; }
		input.dsq-trackback-url { width: 350px; }
	ul#dsq-references { margin-bottom: 19px !important; }
	
	
	
	
	
	
	
/* ==============
   SLIDSHOW */
   	
#slideshow {
	width: 762px;
	height: 600px;
	display: block;
}
#slide_buttons {
	margin: 15px auto;
    width: 100px;
	text-align: center;
}
#slide_buttons a {
	width: 10px;
	height: 10px;
	display: block;
	margin: 0 5px;
	background-color: #333;
	border-radius: 5px 5px 5px 5px;
	float: left;
}
#slide_buttons a:hover {
	background-color: #67B68D;
}
#slides {
	width: 762px;
	height: 568px;
	overflow: hidden;
	position: relative;
}
#allSlides {
	width: 4572px;
	height: 568px;
	overflow: hidden;
	position: relative;
}
#allSlides img {
	float: left;
	width: 762px;
	height: 568px;
}







/* ==============
   ABOUT AND CONTACT PAGES */
   
#post-40, #post-38, body.single-post div.type-post, #comments {
	width: 492px;
	margin: 0 auto;
}

body.page-id-38 .entry-content p, body.page-id-40 .entry-content p, p.email-sign-up {
	line-height: 1.3em;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: 0.05em;
	margin-bottom: 25px;
}
p.email-sign-up {
	margin-top: 50px;
}
.email {
	margin: 50px 0;
}
.email a {
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	font-size: 35px;
	color: #333333;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: capitalize;
}
.entry-content .email a:hover, .entry-content .twitter_follow a:hover {
	color: #67B68D;
	text-decoration: none;	
}

.email-signup {
	margin-top: -10px;
}
.email-signup .email {
	width: 320px;
	height: 28px;
	border: solid 1px #333;
	margin: 0;
	float: left;
	text-transform: uppercase;
	padding: 0 8px;
}
.email-signup #mc-embedded-subscribe {
	height: 30px;
	width: 154px;
	background-color: #333;
	color: #fff;
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	border: none;
	padding-top: 2px;
}
.email-signup #mc-embedded-subscribe:hover {
	background-color: #67B68D;
}
.twitter_follow a {
	padding: 0;
}
.twitter_follow a:hover {
	color: #67B68D;
}
.twitter_follow {
	margin-top: 50px;
	text-align: center;
}





/* ==============
   BLOG */
   
div.type-post {
	background-image: url(images/blog_divider.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin-bottom: 32px;
	padding: 0 135px 48px;
}
div.type-post h2.entry-title {
	letter-spacing: 0.1em;
	margin: 6px 0 4px;
}
.post_date, .entry-meta a, .entry-meta, h3#comments-title, div#respond h3#reply-title {
	line-height: 1.45em;
	text-align: center;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.entry-content {
	margin-top: 20px;
}
body.page-id-75 .entry-content img, body.single-post .entry-content img {
	margin: 12px 0;
}
.entry-content a:hover {
	color: #A87B4F;
	text-decoration: underline;
}
body.single-post .social_links {
	padding: 6px 0;
	background-image: url(images/blog_divider.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
}
#comments h3#comments-title, #comments div#respond h3#reply-title {
	font-size: 20px;
	text-align: left;
	margin-top: 40px;
}
#comments div.comment-meta {
	font-size: 10px;
}
input#author, input#email, input#url, textarea#comment {
	border: solid 1px #999;
}
#comments #submit {
	width: 120px;
	height: 25px;
	background-color: #333;
	color: white;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	border: none;
	padding-top: 3px;
	margin: 0;
}



/*media queries for mobile*/

@media only screen and (max-device-width: 480px) {
	div#top-navigation div ul li a, .cart_quantity, .twitter_follow a {
	  font-size: 56px;
	}
}