/*
Theme Name: Default Theme
Theme URI: http://instinct.co.nz
Description: Default Theme
Version: 3.5
Author: Roy Ho
Author URI: http://instinct.co.nz
*/

/*
 * If you delete this file, you can expect your WP e-Commerce installation to break in some manner
 * to create your own theme copy, and paste this file, change the names and alter to your tastes
*/
/*-----UTILITY-----*/
.group:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/*-----IE SPECIFIC STYLESHEET-----*/

/*-----UTILITY-----*/
/* for IE6 */
* html .group {
	height:1%;
}

/* for IE7 */
*:first-childhtml .group {
	min-height:1px;
}

/*-----GENERAL-----*/

#default_products_page_container .imagecol img, #list_view_products_page_container img, #grid_view_products_page_container img {
	margin:0;
	padding:0;
}

.wpsc_hidden{
	display:none;
}




/*-----HIDE VARIOUS ELEMENTS-----*/
   
body.tax-wpsc_product_category div#post-thumbnail,
body.single-wpsc-product div#post-thumbnail,
body.page-template-default div#post-thumbnail,
body.tax-wpsc_product_category div#shoppingcart,
body.page-template-default div#shoppingcart,
body.tax-wpsc_product_category ul.wpsc_categories,
body.page-template-default ul.wpsc_categories,
body.tax-wpsc_product_category img.no-image,
body.single-wpsc-product img.no-image,
body.page-template-default img.no-image,
.custom_meta, #TB_caption, .weird-title
body.single-wpsc-product #comments,
body.tax-wpsc_product_category #comments,
body.single-wpsc-product #comments,
.widget_wpsc_shopping_cart h2 { 
	display: none;
}


/*-----DEFAULT PRODUCT DISPLAY-----*/
#default_products_page_container {
	width:100%;	
	position:relative;
	line-height:1.2em;
}

#default_products_page_container .wpsc_page_numbers_top {
	margin-bottom:20px;	
}

#default_products_page_container .wpsc_page_numbers_bottom {
	margin-top:20px;	
}

.wpsc_category_grid_item {
	text-align: center;
	background: #EFEFEF;
	border: 1px solid #CCC;
	margin:10px;
	text-decoration: none;
}

.wpsc_category_grid_item .item_no_image {
	color:#000;
}


#default_products_page_container .wpsc_page_numbers_top a:link, #default_products_page_container .wpsc_page_numbers_top a:visited, #default_products_page_container .wpsc_page_numbers_bottom a:link, #default_products_page_container .wpsc_page_numbers_bottom a:visited {
	padding:5px 4px;

}


#default_products_page_container .wpsc_page_numbers_top a:hover, #default_products_page_container .wpsc_page_numbers_top a:active, #default_products_page_container .wpsc_page_numbers_bottom a:hover, #default_products_page_container .wpsc_page_numbers_bottom a:active {

}

#default_products_page_container .wpsc_page_numbers_top span.current, #default_products_page_container .wpsc_page_numbers_top span.current, #default_products_page_container .wpsc_page_numbers_bottom span.current, #default_products_page_container .wpsc_page_numbers_bottom span.current {
	padding:5px 4px;
}

.default_product_display {
	width: 370px;
	float: left;
	margin: 0 6px 11px 5px;
	position: relative;
}
.wpsc_default_product_list .series_listing {

}

.default_product_display .imagecol {
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	min-height: 50px;
	height: 100%;
	position: relative;
}

.card_rollover {
	position: absolute;
	top: 0;
	left: 0;
	width: 362px;
	height: 254px;
	display: none;
	z-index: 8;
	background-color: #fff;
	border: solid 4px #333;
	background-image: url(images/card_roll_background.jpg);
	background-position: top left;
	background-repeat: no-repeat;
}
.card_rollover .wpsc_description img, .card_rollover .wpsc_description p:nth-last-child(1) {
	display: none;
}

.default_product_display .imagecol img.product_image {
	background-color:#efefef;	
}

.default_product_display .productcol {
	vertical-align: middle;
	height: 236px;
	padding-top: 30px;
}

.default_product_display h2.prodtitle, #content .default_product_display h2.prodtitle {
	margin:0 0 10px 0;
	line-height:1;
	clear:none;
}
.default_product_display .imagecol .card_rollover h2.prodtitle, 
#content .default_product_display .imagecol .card_rollover h2.prodtitle {
	margin: 32px 20px 16px;
}
.default_product_display .imagecol .card_rollover .wpsc_description,
#content .default_product_display .imagecol .card_rollover .wpsc_description {
	height: 106px;
}
.default_product_display .imagecol .card_rollover .wpsc_description p,
#content .default_product_display .imagecol .card_rollover .wpsc_description p {
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0.06em;
	margin: 0 35px 0;
	line-height: 1.3em;
	text-align: left;
}
.default_product_display .imagecol .card_rollover .wpsc_product_price,
#content .default_product_display .imagecol .card_rollover .wpsc_product_price {
	margin-left: 35px;
}
.default_product_display .imagecol .card_rollover .wpsc_product_price p,
#content .default_product_display .imagecol .card_rollover .wpsc_product_price p {
	font-size: 30px;
}
.purachase_print {
	margin-right: 35px;
	width: 240px;
	float: right;
}

.default_product_display span.sale {
	position:absolute;
	top:-10px;
	left:-10px;
	text-indent:-9999px;
	display:block;
}

.default_product_display .wpsc_description p, #content .default_product_display .wpsc_description p,
.single_product_display .wpsc_description p, #content .single_product_display .wpsc_description p,
.social_links a span.mr_small_icon, .social_links {
	line-height:1.45em;
	text-align: center;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.social_links .mr_social_sharing {
	padding: 0 9px 0 7px;
	margin: 0;
	background-image: url(images/colon.jpg);
	background-position: center right;
	background-repeat: no-repeat;
}
.social_links .mr_social_sharing:last-of-type {
	background-image: none;
}
body.tax-wpsc_product_category .social_links {
	position: absolute;
	bottom: 10px;
	left: 100px;
}
.social_links a span.mr_small_icon {
	color: #67B68D;
	font-size: 13px;
}
.social_links a:hover span.mr_small_icon {
	color: #333;
}
.social_links .mr_social_sharing img,
.social_links .mr_social_sharing_top img {
	display: none;
}
.single_product_display .wpsc_description p, #content .single_product_display .wpsc_description p {
	margin-bottom: 12px;
}
.default_product_display .additional_description p, #content .default_product_display .additional_description p {
	line-height: 1.3em;
	text-align: center;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.default_product_display .additional_description_container {
	margin: 8px 0;	
}

.default_product_display a.additional_description_link:link, .default_product_display a.additional_description_link:visited {
	text-decoration:underline;
	color:#0062ce;
	margin-left:5px;
}

.default_product_display a.additional_description_link:hover, .default_product_display a.additional_description_link:active {
	text-decoration:none;
}

.default_product_display form.product_form fieldset, #content .default_product_display form.product_form fieldset {
	border: none;
	padding: 0px;
	width: 100px;
	margin: -10px 2px 18px;
}

.default_product_display form.product_form fieldset legend, #content .default_product_display form.product_form fieldset legend {
	padding: 2px 5px 0 0;
	float: left;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.default_product_display .wpsc_variation_forms {
	padding:2px;	
	margin-bottom:10px;
}

.wpsc_select_variation{
	position:relative;
}

.default_product_display .wpsc_variation_forms table, #content .default_product_display .wpsc_variation_forms table, .default_product_display .wpsc_variation_forms table tr, #content .default_product_display .wpsc_variation_forms table tr, .default_product_display .wpsc_variation_forms table td, #content .default_product_display .wpsc_variation_forms table td {
	border:none;
	border-collapse:collapse;	
	margin:0;
}

.default_product_display .wpsc_variation_forms table td.col1, #content .default_product_display .wpsc_variation_forms table tr td.col1 {
	width:10%;	
	text-align:left;
	margin:0;
	padding:2px;
}

.default_product_display .wpsc_variation_forms table td.col2, #content .default_product_display .wpsc_variation_forms table tr td.col2 {
	width:80%;	
	text-align:left;
	margin:0;
	padding:2px;
}

.default_product_display .wpsc_variation_forms label {
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000
}

.default_product_display .wpsc_variation_forms select {
	margin:0;
	min-width:100px;
	max-width:200px;
}

.default_product_display .wpsc_quantity_update {
	float: left;
}

.default_product_display .wpsc_quantity_update input, #content .default_product_display .wpsc_quantity_update input {
	margin: 0;
	line-height: 1.2em;
	font-size: 11px;
	border: 1px solid #999999;
}


.default_product_display .wpsc_quantity_update label, #content .default_product_display .wpsc_quantity_update label {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	line-height:1.2em;
	font-size:10px;
	color:#F60;
}

.default_product_display .wpsc_product_price p,
.single_product_display .wpsc_product_price p {
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	font-size: 65px;
	color: #67B68d;
	line-height: 90%;
	margin: 0;
}

.default_product_display .in_stock,
.single_product_display .in_stock {
	position: relative;
	background-image: url(wpsc-images/yes_stock.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	left:-5px;
}

.default_product_display .out_of_stock,
.single_product_display .out_of_stock {
	position: relative;
	background-image: url(wpsc-images/outofstock.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	left:-5px;
}

.default_product_display .wpsc_product_price, #content .default_product_display .wpsc_product_price {
	float: left;
	margin-left: 60px;
}

.default_product_display .wpsc_product_price span.oldprice {
	text-decoration:line-through;
	color:#666;
}

.default_product_display p.soldout, #content .default_product_display p.soldout {
	font-weight:bold;
	font-size:14px;
	color:#C33;	
	background:url(wpsc-images/outofstock.png) no-repeat scroll 0 2px transparent;
	padding-left:18px;
	margin:0;
}

.default_product_display div.wpsc_loading_animation, .single-wpsc-product div.wpsc_loading_animation {
	visibility: hidden;	
	position: absolute;
	right: -60px;
	font-size: 12px;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.1em;
}

.default_product_display div.wpsc_loading_animation img, #content .default_product_display div.wpsc_loading_animation img {
	border:none;
}

.default_product_display .product_footer .product_average_vote strong  {
	font-size:0.8em;	
	float:left;
}

.default_product_display .product_footer .product_average_vote span  {
	font-size:0.8em;	
	float:left;
}

.default_product_display .product_footer .product_user_vote {
	clear:both;
	font-size:0.8em;	
	float:left;
}

.default_product_display .wpcart_gallery img, #content .default_product_display .wpcart_gallery img {
	margin-right:6px;
	border:1px solid #ccc;	
}

.wpcart_gallery .attachment-gold-thumbnails, body.single-wpsc-product .imagecol .product_image {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.imagecol img.product_image, div.additional-img img, #TB_window img {
	-webkit-box-shadow: 2px 1px 8px 4px rgba(100, 100, 100, 0.12);	
	-moz-box-shadow: 2px 1px 8px 4px rgba(100, 100, 100, 0.12);
	box-shadow: 2px 1px 8px 4px rgba(100, 100, 100, 0.12);
	border: none;
}

#TB_window img#TB_Image {
	margin: 25px 25px 5px;
}
#TB_window {
	border: none;
	border-radius: 10px 10px 10px 10px;
}


.default_product_display .wpsc_buy_button_container,
.single_product_display .wpsc_buy_button_container {
	float: right;
	margin-top: -15px;
	margin-right: 60px;
}

.default_product_display .wpsc_buy_button_container input,
.single_product_display .wpsc_buy_button_container input {
	width: 80px;
	height: 80px;
	display: block;
	background-color: #333333;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	letter-spacing: 0.1em;
	border-radius: 40px 40px 40px 40px;
	white-space: normal;
	padding: 0 15px;
	line-height: 1.1em;
	border: none;
}
.default_product_display .wpsc_buy_button_container input:hover,
.single_product_display .wpsc_buy_button_container input:hover {
	background-color: #67B68d;
}

.purachase_set a, .purachase_print a {
	color: #333333;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "House Slant", "melbournebold", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
	letter-spacing: 0.07em;
	text-decoration: none;
}
.purachase_print a {
	line-height: 1.4em;
}
.purachase_set a:hover, .purachase_print a:hover {
	color: #67B68d;
	text-decoration: none;
}
.purachase_set a .add_icon, .purachase_print a .add_icon {
	background-image: url(images/add_icon.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}
.purachase_set a .add_icon:hover, .purachase_print a .add_icon:hover {
	background-position: top right;
}
.purachase_set {
	text-align: center;
	margin: 125px auto 15px;
	width: 260px;
	clear: both;
}



/*-----LIST VIEW PRODUCT DISPLAY-----*/

#list_view_products_page_container {
/* 	width:650px;	 */
	position:relative;
}

#list_view_products_page_container .wpsc_page_numbers_top {
	margin-bottom:20px;	
}

#list_view_products_page_container .wpsc_page_numbers_bottom {
	margin-top:10px;	
}

#list_view_products_page_container p, #content #list_view_products_page_container p {
	line-height:1.2em;
	margin:0;
	padding:0;	
}

#list_view_products_page_container span.sale {
	display:none;
}


#list_view_products_page_container input, #content #list_view_products_page_container input, #list_view_products_page_container textarea, #content #list_view_products_page_container textarea {
	margin:0;
	padding:0;
}

table.list_productdisplay form.product_form {
	display:inline;
}

table.list_productdisplay .quantity_container {
	display:inline;	
}

table.list_productdisplay .wpsc_buy_button_container {
	display:inline;
	position:relative;
}

table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation {
	position:absolute;
	top:1px;
	right:-85px;
	*right:-100px;
	font-size:10px;
	width:100%;	
	vertical-align:middle;
	line-height:1.2em;
}

table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation img, #content table.list_productdisplay .wpsc_buy_button_container .wpsc_loading_animation img {
	vertical-align:middle;
	border:none;
	float:left;
}

table.list_productdisplay .oldprice {
	text-decoration:line-through;
}

#list_view_products_page_container table.list_productdisplay input.wpsc_buy_button, #content #list_view_products_page_container table.list_productdisplay input.wpsc_buy_button {
	padding:5px;

}

table.list_productdisplay h2.prodtitle, #content table.list_productdisplay h2.prodtitle {
	font-size:15px;
	line-height:1.2em;
	margin:0;
	word-wrap: break-word;	
}

table.list_productdisplay h2.prodtitle a:link, #content table.list_productdisplay h2.prodtitle a:link, table.list_productdisplay h2.prodtitle a:visited, #content table.list_productdisplay h2.prodtitle a:visited {
	text-decoration:underline;
	color:#006699;
}

table.list_productdisplay h2.prodtitle a:hover, #content table.list_productdisplay h2.prodtitle a:hover, table.list_productdisplay h2.prodtitle a:active, #content table.list_productdisplay h2.prodtitle a:active {
	text-decoration:none;
}

table.list_productdisplay td.stock {
	text-align:center;	
}

table.list_productdisplay tr.alt {
	background-color:#F8F8F8;	
}

table.list_productdisplay p.soldout {
	color:#C33;	
}

/*-----SINGLE PRODUCTS PAGE-----*/
.superscript_numbers {
	position: relative;
	top: -0.65em;
	font-size: 50%;
	left: 0.05em;
}

#single_product_page_container {
	width: 762px;	
	position: relative;	
}

.single_product_display {
	margin-bottom: 0;
	padding: 0;
	position: relative;	
}
.single_product_display .imagecol, div.additional-img {
	margin: 0 6px 11px 5px;
	float: left;	
	position: relative;
}
.single-wpsc-product .productcol {
	vertical-align: middle;
	padding-top: 22px;
	float: right;
	width: 360px;
	min-height: 236px;
	margin: 0 11px 11px 0px;
}

.single_product_display .wpsc_description {
	padding: 0 10px 20px;
}
.single_product_display .product_description, .single_product_display .single_additional_description {
	font-size:14px;
	line-height:1.2em;
	margin:0 0 10px 0;
	padding:0;	
}

.single_product_display form.product_form fieldset, #content .single_product_display form.product_form fieldset {
	border: none;
	padding: 0px;
}

.single_product_display form.product_form fieldset legend, #content .single_product_display form.product_form fieldset legend {
	font-size: 18px;
	font-weight: normal;
	padding: 0px;
}

.single_product_display form.product_form input.input_custom_text, #content .single_product_display form.product_form input.input_custom_text {
	width:250px;
}

.single_product_display form.product_form fieldset p, #content .single_product_display form.product_form fieldset p {
	margin:0 0 10px 0;
	padding:0;
	line-height:1.2em;
	font-size:14px;	
}

.default_product_display .wpsc_variation_forms {
	padding:2px 0px 2px 0px;	
	margin-bottom:10px;
}

.single_product_display .wpsc_variation_forms table, #content .single_product_display .wpsc_variation_forms table, .single_product_display .wpsc_variation_forms table tr, #content .single_product_display .wpsc_variation_forms table tr, .single_product_display .wpsc_variation_forms table td, #content .single_product_display .wpsc_variation_forms table td {
	border:none;
	border-collapse:collapse;	
	margin:0;
}

.single_product_display .wpsc_variation_forms table td.col1, #content .single_product_display .wpsc_variation_forms table tr td.col1 {
	width:10%;	
	text-align:left;
	margin:0;
	padding:2px;
}

.single_product_display .wpsc_variation_forms table td.col2, #content .single_product_display .wpsc_variation_forms table tr td.col2 {
	width:80%;	
	text-align:left;
	margin:0;
	padding:2px;
}

.single_product_display .wpsc_variation_forms select {
	margin:0;
	min-width:100px;	
	max-width:200px;
}

.default_product_display .wpsc_quantity_update input {
	text-align: center;
}

.single_product_display .wpsc_quantity_update input, #content .single_product_display .wpsc_quantity_update input {
	margin:0;
	line-height:1.2em;
	font-size:12px;
}


.single_product_display .wpsc_quantity_update label, #content .single_product_display .wpsc_quantity_update label {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	line-height:1.2em;
	font-size:12px;
	color:#F60;
}

.single_product_display .wpsc_product_price {
	float: left;
	margin-left: 60px;
}

.single_product_display .wpsc_product_price p, #content .single_product_display .wpsc_product_price p {
	margin:0;
}

.single_product_display .wpsc_product_price span.oldprice {
	text-decoration:line-through;
}

.single_product_display div.soldout {
	font-weight: bold;
	font-size: 14px;
	color: #C33;	
	clear: both;
	float: left;
	margin: 50px 30px;
}

.single_product_display .wpcart_gallery img, #content .single_product_display .wpcart_gallery img {
	margin-right:6px;
	border:1px solid #ccc;	
}

.single_product_display .FB_like iframe {
	border:none;
	width:300px;
	height:80px;
	outline:none;
	overflow:hidden;
}

/*-----SHOPPING CART-----*/
.cart_quantity li {
	list-style: none;
}
.cart_quantity {
	position: relative;
}

.shopping-cart-wrapper {
	line-height: 1.0em;
	position: absolute;
	top: -26px;
	left: 100px;
}

.shopping-cart-wrapper span.cart_message {
	display:block;
	padding:5px;
	border:1px solid #dedede;
	margin:10px 0;	
}

.shopping-cart-wrapper .numberitems {
	margin-bottom:5px;
	display:block;	
}

.shopping-cart-wrapper .shoppingcart {
	padding:5px;
}

.shopping-cart-wrapper .shoppingcart table {
	width:100%;
}

.shopping-cart-wrapper .shoppingcart table th {
	font-family: Arial, sans-serif;
	padding:2px;
}

.shopping-cart-wrapper .shoppingcart table th:first-child {
	text-align: left;
}

.shopping-cart-wrapper .shoppingcart table tbody td {	
	padding:2px;
	text-align:center;
}

.shopping-cart-wrapper .shoppingcart table .cart-widget-count{
	width:70px;
}

.shopping-cart-wrapper .shoppingcart table tbody td, .shopping-cart-wrapper .shoppingcart table tbody td a {
	text-decoration: none;
}

.shopping-cart-wrapper .shoppingcart table tbody td a:hover {
	text-decoration: underline;
}

.shopping-cart-wrapper .remove_button {
	background:url(wpsc-images/delete.png) no-repeat scroll 0 4px transparent;
	width:14px;
	text-indent:-9999px;
	border:none;
	outline:none;
	*line-height:1;
	cursor:pointer;	
}

.shopping-cart-wrapper .shoppingcart table tbody td.cart-widget-remove{
	padding:0px;
}

.shopping-cart-wrapper .checkout-shipping,
.shopping-cart-wrapper .checkout-tax,
.widget_wpsc_shopping_cart #cart-widget-links {
	text-align: right;
	padding: 0px 6px 0px 0px;
}

.widget_wpsc_shopping_cart .checkout-total, .widget_wpsc_shopping_cart .pluspostagetax {
	text-align:right;
	font-weight:bold;
}

.shopping-cart-wrapper .shoppingcart table tbody td.product-name{
	text-align: left;
	max-width: 90px;
	word-wrap: break-word;
	overflow: hidden;
}

.widget_wpsc_shopping_cart .cart-widget-total td {
	border-top:solid 2px #000;
	padding: 5px 6px 5px 5px;
}

.widget_wpsc_shopping_cart tr.cart-widget-shipping td {
	border-top:1px solid #000;
}

.widget_wpsc_shopping_cart .shoppingcart{
	position:relative;
}

.shopping-cart-wrapper a.emptycart:link, .shopping-cart-wrapper a.emptycart:visited {
	text-decoration:none;
	color:#666;
	font-size:11px;
}

.shopping-cart-wrapper .gocheckout:active {
	border:1px solid #ccc;
}

.shopping-cart-wrapper .empty {
	margin-top:10px;	
}
/*

.shopping-cart-wrapper a.visitshop:link, .shopping-cart-wrapper a.visitshop:visited {
	text-decoration:underline;
	font-size:12px;
	color:#006699;
}

.shopping-cart-wrapper .empty {
	margin-bottom:5px;
}
*/

.shopping-cart-wrapper a.visitshop:hover, .shopping-cart-wrapper a.visitshop:active {
	text-decoration:none;
}

/*-----CHECKOUT PAGE-----*/
.shoppingcart {	
	font-size: 12px;
}
#checkout_page_container, .wpsc_email_address {
	width: 472px;
	position: relative;
	clear: both;
	font-size: 12px;
	color: #888;
	margin: 0 auto;
}
#checkout_page_container h3, #checkout_page_container h4 {
	font-size: 20px;
	color: #333;
	margin: 40px 0 15px 0;
	line-height: 1.45em;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}


#content #checkout_page_container .calculate_btn, #checkout_page_container .calculate_btn, 
#content #checkout_page_container .wpsc_buy_button, #checkout_page_container .wpsc_buy_button {
	width: 120px;
	height: 25px;
	background-color: #333;
	color: white;
	font-family: "melbournebold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	border: none;
	padding-top: 6px;
	margin: 0;
}

#checkout_page_container textarea, #checkout_page_container input, #content #checkout_page_container textarea, #content #checkout_page_container input,
#checkout_page_container select, #content #checkout_page_container select {
	line-height: 1.2em;
	font-size: 12px;	
	margin: 0;
	border: solid 1px #999;
	padding: 5px;
	margin: 3px 6px 3px 0;
}
#content #checkout_page_container .submit {
	margin: 0 0 3px;
}
#content #checkout_page_container .remove {
	margin-left: 20px;
}
.item_no_image {
	background-image: url(images/series_img.jpg);
	background-position: top left;
	width: 33px;
	height: 33px;
	display: block;
}
td.wpsc_product_quantity {
	width: 125px;
}
tr.product_row {
	height: 60px;
	border-bottom: solid 1px #999;
}
.productcart {
	margin-top: 20px;
}
tr.wpsc_shipping_info {
	height: 22px;
}
td.wpsc_shipping_quote_price span.pricedisplay {
	font-weight: bold;
}
#checkout_page_container table.checkout_cart tr.header, #content #checkout_page_container table.checkout_cart tr.header {
	width: 472px;
	border-bottom: solid #999 1px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	height: 20px;
}

#checkout_page_container table.checkout_cart tr.header th, 
#checkout_page_container table.checkout_cart tr.header th:first-child{
	text-align: left;
}

#checkout_page_container table.checkout_cart tr.wpsc_total_before_shipping td {

}

#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td.coupon_code form{
	text-align: right;
}

#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td.coupon_code {
	padding-left: 0px;
}

#checkout_page_container table.checkout_cart tr td, #content #checkout_page_container table.checkout_cart tr td {
	margin:0;
	vertical-align:middle;	
}

#checkout_page_container table.checkout_cart tr.wpsc_coupon_row td form input#coupon_num {
	width: 100px;
	padding: 5px;
	margin: 0px 20px 0px 0px;
}

#checkout_page_container table.checkout_cart tr.wpsc_total_before_shipping td.wpsc_total_amount_before_shipping{
	text-align: right;
}

#content #checkout_page_container p{
	margin-bottom: 0px;
}

.wpsc_checkout_table input.text, .wpsc_checkout_table textarea {
	width: 255px;
}
tr.same_as_shipping_row {
	height: 25px;
}
tr.total_price {
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

#content img#wpsc_checkout_gravatar{
	float:left;
	margin:0px 10px 10px 0px;
}

#checkout_page_container .wpsc_shipping_header {
background-color: #f5f5f5;
}

#checkout_page_container .total_price td.wpsc_totals{

}

#checkout_page_container .wpsc_make_purchase{
	margin-top: 20px;
}

#checkout_page_container .total_price.total_shipping td{
	border:none;
	font-weight: normal;
}
.wrap {
	width: 492px;
	margin: 0 auto;
	font-size: 12px;
}

#checkout_page_container .total_price.total_shipping td:first-child, 
#checkout_page_container .total_price td:first-child {
}

#checkout_page_container .wpsc_shipping_quote_price {
	height: 30px
}
tr.wpsc_change_country {
	height: 38px;
}
div.wpsc_email_address input {
	width: 336px;
}

#checkout_page_container .wpsc_shipping_quote_name label, 
#checkout_page_container .wpsc_shipping_quote_price label, 
#checkout_page_container .wpsc_shipping_quote_radio label {
	color: #000;
}

#content #checkout_page_container table.productcart tr td{
	border-top:none;
	padding-left: 0px;
}

#content #checkout_page_container table.productcart {
	border: none;
}

#checkout_page_container table.checkout_cart tr.wpsc_coupon_row tr {
	border-bottom: 0px;
}

#checkout_page_container p.validation-error {
	clear:both;	
	color:red;
}

#content table.wpsc_checkout_table,
#content table.wpsc_checkout_table tr td {
	border: none;
	padding:0px;
	vertical-align: top;
}

.wpsc-shopping-cart .asterix {
	color: red;
	margin-right: 2px;
}

#checkout_page_container img.product_image {
	background-color:#efefef;
	border:1px solid #ccc;	
}

#checkout_page_container table.checkout_cart {
	border:none;
}

#checkout_page_container table.checkout_cart tr, #content #checkout_page_container table.checkout_cart tr {
	margin:0;
	padding:0;
}

#content #checkout_page_container table.checkout_cart tr.wpsc_coupon_row td{
	padding-top:15px;
	padding-bottom: 15px;
	padding-left: 0px;
}

#content #checkout_page_container table.checkout_cart tr.product_row td.wpsc_product_image img {
	height: 31px;
	width: 31px;
}

#content #checkout_page_container table.checkout_cart tr.product_row td, #content #checkout_page_container table.checkout_cart tr.product_row {
	padding:2px 0px 1px 0px;
	margin:0px;
	line-height: 1;
}

#checkout_page_container table.checkout_cart td.firstcol {
	vertical-align:middle;
	text-align:center;
}

#checkout_page_container .coupon {
	position:relative;
	float:right;	
	margin:10px 0;
}

#checkout_page_container .coupon span.coupon_error {
	position:absolute;
	top:-24px;
	left:156px;	
	color:#F30;
	font-size:14px;
	line-height:1.2em;
}

#checkout_page_container .col1 {
	float:left;
	width:320px;	
}

#checkout_page_container .col2 {
	float:right;
	width:320px;	
}

#checkout_page_container input.intra-field-label, #checkout_page_container textarea.intra-field-label{
	color:#bbb;
}

#content #checkout_page_container table.checkout_cart tr.product_row td.wpsc_product_name {
	width: 200px;
	padding-left: 20px;
}

.wpsc_registration_form {
	float:left;
	margin-top: 15px;
	width:300px;
}

.wpsc_registration_form label {
	width:100px;
	display: inline-table;
	margin-bottom: 10px;
}

.wpsc_registration_form fieldset {
	border: none;
	padding-left: 0px;
	padding-top: 12px;
	border-top-color: #E7E7E7;

    border-top-style: solid;
	border-top-width: 2px;
}

.wpsc_registration_form.wpsc_right_registration{
	border-left-style: solid;
	border-left-color: #E7E7E7;
	border-left-width: 2px;
	padding-left: 20px;
}

.wpsc_signup_text {
	padding-top: 15px;
	font-size: 12px;

}

#shippingSameBilling{
	position:relative;
	right:10px;
}

#shippingsameasbillingmessage{
	display:none;
}

.wpsc_no_image{
	display: none;
}

.clear{
	clear:both;
}
/*-----Share This-----*/
#wpsc_akst_form {
	background: #999;
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	width: 350px;
	z-index: 999;
}
#wpsc_akst_form a.akst_close {
	color: #fff;
	float: right;
	margin: 5px;
}
#wpsc_akst_form ul.tabs {
	border: 1px solid #999;
	list-style: none;
	margin: 10px 10px 0 10px;
	padding: 0;
}
#wpsc_akst_form ul.tabs li {
	background: #ccc;
	border-bottom: 1px solid #999;
	cursor: pointer;
	float: left;
	margin: 0 3px 0 0;
	padding: 3px 5px 2px 5px;
}
#wpsc_akst_form ul.tabs li.selected {
	background: #fff;
	border-bottom: 1px solid #fff;
	cursor: default;
	padding: 4px 5px 1px 5px;
}
#wpsc_akst_form div.clear {
	clear: both;
	float: none;
}
#wpsc_akst_social, #wpsc_akst_email {
	background: #fff;
	border: 1px solid #fff;
	padding: 10px;
}
#wpsc_akst_social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#wpsc_akst_social ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 45%;
}
#wpsc_akst_social ul li a {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 24px;
	padding: 4px 0 0 22px;
	vertical-align: middle;
}
#wpsc_akst_delicious {
		  background-image: url(../wpsc-core/images/social_networking/delicious.gif);
		}
	#wpsc_akst_digg {
		  background-image: url(../wpsc-core/images/social_networking/digg.gif);
		}
	#wpsc_akst_furl {
		  background-image: url(../wpsc-core/images/social_networking/furl.gif);
		}
	#wpsc_akst_netscape {
		  background-image: url(../wpsc-core/images/social_networking/netscape.gif);
		}
	#wpsc_akst_yahoo_myweb {
		  background-image: url(../wpsc-core/images/social_networking/yahoo_myweb.gif);
		}
	#wpsc_akst_stumbleupon {
		  background-image: url(../wpsc-core/images/social_networking/stumbleupon.gif);
		}
	#wpsc_akst_google_bmarks {
		  background-image: url(../wpsc-core/images/social_networking/google_bmarks.gif);
		}
	#wpsc_akst_technorati {
		  background-image: url(../wpsc-core/images/social_networking/technorati.gif);
		}
	#wpsc_akst_blinklist {
		  background-image: url(../wpsc-core/images/social_networking/blinklist.gif);
		}
	#wpsc_akst_newsvine {
		  background-image: url(../wpsc-core/images/social_networking/newsvine.gif);
		}
	#wpsc_akst_magnolia {
		  background-image: url(../wpsc-core/images/social_networking/magnolia.gif);
		}
	#wpsc_akst_reddit {
		  background-image: url(../wpsc-core/images/social_networking/reddit.gif);
		}
	#wpsc_akst_windows_live {
		  background-image: url(../wpsc-core/images/social_networking/windows_live.gif);
		}
	#wpsc_akst_tailrank {
		  background-image: url(../wpsc-core/images/social_networking/tailrank.gif);
		}
	
#wpsc_akst_email {
	display: none;
	text-align: left;
}
#wpsc_akst_email form, #wpsc_akst_email fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
#wpsc_akst_email fieldset legend {
	display: none;
}
#wpsc_akst_email ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#wpsc_akst_email ul li {
	margin: 0 0 7px 0;
	padding: 0;
}
#wpsc_akst_email ul li label {
	color: #555;
	display: block;
	margin-bottom: 3px;
}
#wpsc_akst_email ul li input {
	padding: 3px 10px;
}
#wpsc_akst_email ul li input.akst_text {
	padding: 3px;
	width: 280px;
}
.wpsc_akst_share_link {
 display: block;
 margin: 0px 0px 6px 0px;
 width: 119px;
}

/*-----Featured Image-----*/
.item_text {
	float:left;
	width:33%;
}

.item_text h2 a{
    color: #000000;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.featured_item_image a img {
	float:right;
	width:80%;
}

.wpsc_container.wpsc_featured{
	margin-top: 20px;
	margin-bottom: 20px;
}


.featured_product_price{
    font-style: oblique;
    margin-bottom: 10px;
}

.wpsc_description a{
	text-decoration: none;
	font-size: 14px;
}