/*  
Theme Name: Notes Blog
Theme URI: http://notesblog.com/
Description: The Notes Blog theme is a clean blog theme created for your enjoyment. <a href="http://tdh.me/">Made by TDH</a> and maintained at <a href="http://notesblog.com/">notesblog.com</a>. Requires WordPress 3.1 or higher.
Version: 0.2.9.1
Tags: light, two-columns, right-sidebar, fixed-width, threaded-comments, sticky-post, translation-ready, custom-background, custom-menus
Author: Thord Daniel Hedengren
Author URI: http://tdh.me/
License: GNU General Public License
License URI: license.txt

	Get support and services for the Notes Blog theme:
	http://notesblog.com
	
	Created and managed by Thord Daniel Hedengren:
	http://tdh.me

*/

/* =====
   RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ======
   LAYOUT */

.right,
.alignright,
.nav-next {
	float: right;
}

.left,
.alignleft,
.nav-previous {
	float: left;
}

.column {
	width: 280px; /* One column */
}

.widecolumn {
	width: 660px; /* Two columns */
}

.fullcolumn {
	width: 960px; /* Three columns */
}

body {
	background: #e9e9e9;
}

div#site {
	width: 100%;
}

div#outer-wrap {
	width: 960px;
	margin: 0 auto;
}

div#header {
	width: 100%;
	float: left;
	margin: 20px 0;
}
	div.header-widgetarea { width: 280px; float: right; }
		ul#header-widget {}
			ul#header-widget li { margin:0; padding:0; border:0; }
	#site-header { width: 660px; float: left; }

div#blog {
	width: 100%;
	float: left;
	background: #fff;
	padding-bottom: 10px;
}

div#top-navigation {
	width: 100%;
	float: left;
	color: #eee;
	border-bottom: 1px solid #e9e9e9;
}
	div#top-navigation div ul { float: left; }
		div#top-navigation div ul li { float: left; margin: 0; padding: 10px 0; }

div#content {
	float: left;
}
	div.post, div.page, div.attachment, div.hentry { margin: 20px 0 40px 20px; clear:both; } /* 640 pixels */
		div.format-aside-permalink { float:right; margin: 0 0 10px 20px; }
		div.read-more { text-align: right; }
	div.sticky {}
		div.sticky div.entry-meta { border-color: #111; }
	div.navigation { width: 100%; float:left; }
	div#nav-above { margin: 20px 0 40px 0; }
		.nav-previous { padding-left: 20px; }
	div#nav-below { margin: 20px 0; }
	div#home-header { width: 100%; float: left; border-bottom: 1px dotted #e9e9e9; } /* 960 px */
		ul.header-column { width: 320px; float: left; }
			ul.header-column li { padding-top: 20px; }
		ul.header-column-left {}
			ul.header-column-left li { padding-left: 20px; padding-right: 5px; }
		ul.header-column-middle {}
			ul.header-column-middle li { padding-left: 15px; padding-right: 15px; }
		ul.header-column-right {}
			ul.header-column-right li { padding-left: 5px; padding-right: 20px; }
			li.home-widget-container { margin-bottom: 20px; }
				li.home-widget-container ul { margin:0; padding: 0; }
					li.home-widget-container ul li { margin: 10px 0 0 0; padding: 0; border: 0; }
	div#post-thumbnail { width: 100%; margin: 0 20px; padding-top: 20px; float: left; }
	div.entry-meta { margin: 0 0 16px 0px; padding-left: 20px; border-left: 10px solid #e9e9e9; }
	h3#comments-title { margin-left: 20px; padding-top: 20px; border-top: 1px dotted #e9e9e9; }
	ol.commentlist { margin: 20px 0 20px 20px; padding: 20px 20px 1px 20px; background: #e9e9e9; }
		li.comment {}
			div.comment-author {}
				div.comment-author img { float: left; margin-right: 10px; }
				div.comment-author cite { font-weight: bold; font-style: normal; }
			div.comment-meta { margin-bottom: 10px; }
			div.comment-body {}
				div.comment-body p { margin-left: 16px; padding: 5px 0 5px 20px; border-left: 1px dotted #fff;  }
			div.reply { margin-top: 0; padding-bottom: 10px; border-bottom: 1px dotted #fff; text-align: right; }
			li.comment ul.children { margin: 20px 0 0 20px; }
		li.depth-1 { margin-bottom: 20px; }
		li.byuser {}
		li.bypostauthor {}
		li.pingback { padding: 10px 10px 1px 10px; background:#efefef; }
			li.pingback p, li.pingback div.reply { display:none; }
	div#respond { margin: 20px 0 20px 20px; padding-left: 20px; border-left: 10px solid #e9e9e9; } 
		div#respond p { clear:both; }
		p.comment-notes, p.logged-in-as { margin-bottom: 10px; }
		p.comment-form-author, p.comment-form-email, p.comment-form-url { margin-bottom: 5px; }
			p.comment-form-author label, p.comment-form-email label, p.comment-form-url label { margin-bottom: 5px; line-height: 28px; }
		div#respond h3 { margin: 5px 0 10px 0; }
		input#author, input#email, input#url { float:left; margin-right: 10px; padding: 5px; width: 200px; }
		textarea#comment { width: 500px; padding: 10px; }
		span.required { color: #900; }

div#sidebar-container {
	float: right;
}
	ul#sidebar { margin: 20px 20px 20px 0; } /* 260 pixels */
		ul#sidebar li.widget-container { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dotted #e9e9e9; }
			li.widget-container ul { margin:0; padding: 0; }
				li.widget-container ul li { margin: 10px 0 0 0; padding: 0; border: 0; }
		li.widget_tag_cloud {}
			li.widget_tag_cloud div { margin-top: 10px; }
		li.widget_text {}
			div.textwidget {}
				div.textwidget p { margin-top: 10px; }
		

div#footer {
	width: 100%;
	float: left;
}
	div.footer-column-container { float: left; padding: 0 10px; }
		ul.footer-column { width: 235px; float: left; }
			ul.footer-column li { margin: 0 10px 10px 10px; padding:0; background: #e9e9e9; } /* 215-20=195 px */
			ul.footer-column li.widget-container {}
				ul.footer-column li.widget-container h2.widget-title { padding: 10px 10px 0 10px; }
				ul.footer-column li.widget-container div { padding: 10px; }
					ul.footer-column li.widget-container div.textwidget, ul.footer-column li.widget_tag_cloud div { padding-top: 0; }
				ul.footer-column li.widget-container ul { padding: 0 10px 10px 10px; }
					ul.footer-column li.widget-container ul li { float: none; }

div#copy {
	width: 100%;
	float:left;
	margin: 10px 0;
	background: #fff;
}
	div#copy div.left p { padding: 10px 0 10px 20px; }
	div#copy div.right p { padding: 10px 20px 10px 0; }

div#finalword {
	width: 100%;
	float:left;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

/* ==========
   TYPOGRAPHY */

body, 
div#respond h3, h3#comments-title, input, textarea {
	font-family: Georgia, "Times New Roman", serif;
}

h3, h4, h5, h6,
.entry-meta, #sidebar, div#top-navigation,
div#copy {
	font-family: Helvetica, Arial, sans-serif;
}

.entry-content p, .entry-summary p {
	color: #333;
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 16px;
	padding-right: 20px;
}

.entry-title {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 16px;
	font-weight: normal;
}

.page-title {
	margin: 40px 0 20px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
	font-size: 24px;
	line-height: 24px;
	color: #666;
	font-style: italic;
	font-weight: normal;
}
	.page-title span { font-weight: bold; font-style: normal; color: #333; }

.entry-content h2 {
	margin: 32px 0 16px 0;
	font-size: 24px;
	color: #111;
	font-weight: normal;
}

.entry-content h3 {
	margin: 32px 0 16px 0;
	margin-bottom: 16px;
	font-size: 18px;
}

.entry-content h4 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 24px 0 8px 0;
}

.entry-content ol, .entry-content ul {
	margin: 0 20px 16px 20px;
	padding-left: 25px;
	color: #666;
}
.entry-content ol { list-style: decimal; }
.entry-content ul { list-style: square; }
.entry-content ol li, .entry-content ul li { margin-bottom: 8px; }

blockquote {
	color: #666;
	font-style: italic;
}
	blockquote p { color: #666 !important; }

h3#comments-title {
	font-size: 24px;
}

h3#comments-title, div#respond h3 {
	font-weight: normal;
	color: #333;
}

#sidebar, .entry-meta, div.format-aside-permalink,
div.read-more,
div#copy, div#finalword,
div.comment-author, div.comment-meta, div#respond p {
	font-size: 12px;
	color: #888;
}

div.comment-body p, ul.footer-column {
	font-size: 14px;
	line-height: 125%;
}

.widget-title, div#top-navigation, div.reply {
	font-size: 12px;
	text-transform: uppercase;
	color: #444;
}

#site-header {
	font-size: 56px;
	font-weight: normal;
}

input, textarea {
	font-style: italic;
}


/* =====
   LINKS */

.entry-content a:link, 
ul#sidebar a:link, 
#footer a:link, 
div#home-header a:link,
.entry-content a:active, 
ul#sidebar a:active, 
#footer a:active, 
div#home-header a:active,
.entry-content a:visited,
ul#sidebar a:visited, 
#footer a:visited, 
div#home-header a:visited,
.navigation a,
ol.commentlist a, div#respond a,
div.read-more a {
	color: #900;
}
	.entry-content a:hover,
	.navigation a:hover,
	ul#sidebar a:hover,
	ol.commentlist a:hover,
	div#respond a:hover,
	#footer a:hover,
	div#home-header a:hover,
	div.read-more a:hover {
		color: #000;
		text-decoration: none;
	}
		div.read-more a { text-decoration: none; }
			div.read-more a:hover { text-decoration: underline; }

.entry-meta a, li.pingback a,
div#copy a, div#finalword a {
	color: #444;
	text-decoration: none;
}
	.entry-meta a:hover, li.pingback a:hover,
	div#copy a:hover, div#finalword a:hover {
		color: #000;
		text-decoration: underline;
	}

h1 a, h2 a, #site-header a, div.header-widgetarea a {
	color: #000;
	text-decoration: none;
}
	h1 a:hover, h2 a:hover, #site-header a:hover, div.header-widgetarea a:hover { color: #900; }

div#top-navigation div ul li a:link, div#top-navigation div ul li a:visited {
	color: #222;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	border-right: 1px solid #e9e9e9;
}
	div#top-navigation div ul li a:hover, div#top-navigation div ul li a:active {
		color: #000;
		background: #e9e9e9;
	}


/* =================
   ELEMENTS & DESIGN */

p.right { text-align:right; }
p.center { text-align:center; }
p.admin { color: #aaa; font-size: 12px; }
p.nocomments { padding: 0 20px; font-style: italic; color: #777; }

div#content embed, .embedded { text-align:center; margin: 0 0 14px 0; padding-left:0; border:0; } /* for movies */

blockquote { margin: 0 0 16px 20px; padding: 0 20px; border: 1px solid #e9e9e9; border-width: 0 0 0 1px; }
	blockquote.pullquote { width: 220px; padding: 5px 0; border: 0; font-size: 18px; line-height: 150%; }
		blockquote.pullquote p { margin-bottom: 0; }
ol.commentlist li blockquote { border: 0; padding:0; }

/* Images and aligns */
.alignleft, blockquote.alignleft { margin: 0 20px 20px 0; }
.alignright, blockquote.alignright { margin: 0 0 20px 20px; }
img.aligncenter, .aligncenter { margin: 0 auto 16px auto; text-align:center; }
.frame { padding: 1px; border: 1px solid #e9e9e9; }
.wp-caption { padding: 20px 18px; border: 1px solid #e9e9e9; color: #888; font-style: italic; text-align:center; }
p.wp-caption-text { margin: 10px 0 0 0 !important; padding:0; font-size: 12px; line-height: 14px !important; }

div.gallery { margin-bottom: 14px; }
	dl.gallery-item {}
		dt.gallery-icon {}
			img.attachment-thumbnail { border:0; }
		dd.gallery-caption { margin-top: 8px; font-size: 12px; color: #777; font-style: italic; }

/* Quick color fixes */
div.postmeta { color: #777; }
span.alert { color: red; }
div#content strong { color: #333; }


/* ============
   POST FORMATS */

.format-aside { margin-left: 25px; margin-right: 25px; padding: 0 10px 0 20px; border-left: 1px solid #efefef; }
	.format-aside h2.entry-title { margin-bottom: 6px; font-size: 16px; line-height: 16px; }
	.format-aside div.entry-meta { display:none; }
	.format-aside div.entry-content {}
		.format-aside div.entry-content p { color: #666; font-size: 14px; margin-bottom: 14px; }


/* ==============
   PLUGIN SUPPORT */

div#disqus_thread {
	margin: 20px 0 20px 20px;
	padding: 20px 20px 1px 20px;
	background: #e9e9e9;
}
	div#dsq-global-toolbar { margin-top:0 !important; }
	div#disqus_thread a { color: #900; }
		div#disqus_thread a:hover { color: #000; text-decoration: underline; }
	div#dsq-global-toolbar { margin-top: 0; }
	a.dsq-brlink { display: none; }
	div.dsq-item-trackback { margin: 0 0 10px 0 !important; padding: 0 !important; }
		input.dsq-trackback-url { width: 350px; }
	ul#dsq-references { margin-bottom: 19px !important; }